.menu {
  position: relative;
  width: 100%;
  height: 95vh;
  background: $background;
  display: flex;
  justify-content: center;
  align-items: center;

  .options {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    button {
      background: $background;
      border: 0.2rem solid $text-color;
      color: $text-color;
      padding: 1rem 2rem;
      font-size: 1.2rem;
      cursor: pointer;
      z-index: 10;

      &:hover {
        background: $text-color;
        color: $background;
      }
    }
  }
  .asteroid {
    position: absolute;
  }
  .asteroid-1 {
    top: 0;
    left: 90%;
    animation: a1 15s linear 1s infinite;
  }
  .asteroid-2 {
    top: 50%;
    left: 90%;
    animation: a2 10s linear 1s infinite;
  }
  .asteroid-3 {
    top: 50%;
    left: 90%;
    animation: a3 7s linear 1s infinite;
  }
  .asteroid-4 {
    top: 30%;
    left: 0%;
    animation: a4 5s linear 1s infinite;
  }
  .asteroid-5 {
    top: 80%;
    left: 0%;
    animation: a5 2s linear 1s infinite;
  }
}

@keyframes a1 {
  0% {
    transform: translate(0, 0) rotate(20deg);
  }
  100% {
    transform: translate(-110rem, 40rem) rotate(720deg);
  }
}

@keyframes a2 {
  0% {
    transform: translate(0, 0) rotate(20deg);
  }
  100% {
    transform: translate(-110rem, 10rem) rotate(720deg);
  }
}

@keyframes a3 {
  0% {
    transform: translate(0, 0) rotate(20deg);
  }
  100% {
    transform: translate(-110rem, -20rem) rotate(720deg);
  }
}

@keyframes a4 {
  0% {
    transform: translate(0, 0) rotate(20deg);
  }
  100% {
    transform: translate(90rem, 25rem) rotate(720deg);
  }
}

@keyframes a5 {
  0% {
    transform: translate(0, 0) rotate(20deg);
  }

  100% {
    transform: translate(90rem, -20rem) rotate(720deg);
  }
}
