body {
  margin: 0;
  font-size: 10rem;
}

h1 h2 h3 h4 {
  font-size: 1rem;
}

.menu {
  position: relative;
  width: 100%;
  height: 95vh;
  background: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

.menu .options button {
  background: #111;
  border: 0.2rem solid #ccc;
  color: #ccc;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 10;
}

.menu .options button:hover {
  background: #ccc;
  color: #111;
}

.menu .asteroid-container {
  position: absolute;
  top: -5rem;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

.menu .asteroid-container .asteroid {
  position: absolute;
}

.menu .asteroid-container img:nth-child(4n + 1) {
  -webkit-animation: a1 linear infinite;
          animation: a1 linear infinite;
}

@-webkit-keyframes a1 {
  70% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(10rem, 45rem) rotate(520deg);
            transform: translate(10rem, 45rem) rotate(520deg);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes a1 {
  70% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(10rem, 45rem) rotate(520deg);
            transform: translate(10rem, 45rem) rotate(520deg);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.menu .asteroid-container img:nth-child(4n + 2) {
  -webkit-animation: a2 ease-in infinite;
          animation: a2 ease-in infinite;
}

@-webkit-keyframes a2 {
  70% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(-10rem, 45rem) rotate(520deg);
            transform: translate(-10rem, 45rem) rotate(520deg);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes a2 {
  70% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(-10rem, 45rem) rotate(520deg);
            transform: translate(-10rem, 45rem) rotate(520deg);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.menu .asteroid-container img:nth-child(4n + 3) {
  -webkit-animation: a3 ease-in-out infinite;
          animation: a3 ease-in-out infinite;
}

@-webkit-keyframes a3 {
  70% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(5rem, 45rem) rotate(520deg);
            transform: translate(5rem, 45rem) rotate(520deg);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes a3 {
  70% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(5rem, 45rem) rotate(520deg);
            transform: translate(5rem, 45rem) rotate(520deg);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.menu .asteroid-container img:nth-child(4n + 4) {
  -webkit-animation: a4 ease-out infinite;
          animation: a4 ease-out infinite;
}

@-webkit-keyframes a4 {
  70% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(-5rem, 45rem) rotate(520deg);
            transform: translate(-5rem, 45rem) rotate(520deg);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes a4 {
  70% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(-5rem, 45rem) rotate(520deg);
            transform: translate(-5rem, 45rem) rotate(520deg);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */